.container {
  margin-left: 2%;
}
button {
  border-radius: 4%;
}
.six{
  width: 100%;
  margin: auto;
  margin-top: 60%;
  margin-bottom: 50px;
  transform: rotate(90deg);
  border-color: #1A85FD;

}

.seven{
  width: 100%;
  margin: auto;
  margin-top: 60%;
  margin-bottom: 50px;
  transform: rotate(90deg);
  border-color: #1A85FD;
}

.onus p {
  font-weight: 600;
}
.top-header-table {
  margin-right: 1%;
}
h6,
p {
  color: #004763;
  font-size: small;
  font-weight: bold;
  text-align: center;
}

label {
  color: black;
  font-weight: bold;
  font-size: small;
}
.form-select {
  color: #004763;
  font-weight: bold;
  font-size: small;
}
