<div class="container">
    <!-- Section A -->
    <div>
        <button class="hr-btn">Jobs</button>
        <button class="hr-btn">Applications</button>
        <button class="hr-btn">Interviews</button>
        <button class="hr-btn">Hired</button>
    </div>
    

    <!-- Section B -->
    <div class="row">
        <div class="col-sm-6">
            <p class="hr-p">Interview Status: In Review</p>
            <div class="row">
                <div class="col-sm-4">
                    <img src="https://cdn.pixabay.com/photo/2016/08/31/11/54/user-1633249_960_720.png" alt="user" style="width: 70px;">
                </div>
                <div class="col-sm-8">
                    <h6 class="hr-h6" >Muthamia Michael</h6>
                    <p class="hr-user"><i class="fas fa-envelope"></i> <small> MuthamiaMichael@mymail.com</small></p>
                    <p class="hr-user"><i class="fab fa-linkedin"></i> <small> Linkedin.com/in/muthamimichael</small></p>
                </div>
            </div>

            <table class="hr-table">
                <tr>
                    <td><small><b>Phone Number</b></small></td>
                    <td class="hr-td"><small><b>254 xxx xxx xxx</b></small></td>
                </tr>
                <tr>
                    <td><small><b>Phone Number</b></small></td>
                    <td class="hr-td"> <small><b>254 xxx xxx xxx</b></small></td>
                </tr>
                <tr>
                    <td><small><b>Location</b></small></td>
                    <td class="hr-td"><small><b>Nairobi Kenya</b></small> </td>
                </tr>
                <tr>
                    <td><small><b>Education Obtained</b></small></td>
                    <td class="hr-td"><small><b>Bachelors Degree</b></small></td>
                </tr>
                <tr>
                    <td><small><b>Education Obtained</b></small></td>
                    <td class="hr-td"><small><b>Economics Statistics</b></small></td>
                </tr>
                <tr>
                    <td><small><b>Graduation year</b></small></td>
                    <td class="hr-td"><small><b>2021</b></small></td>
                </tr>
                <tr>
                    <td><small><b>Desired Pay</b></small></td>
                    <td class="hr-td"><small><b>60, 000.00</b></small></td>
                </tr>
                <tr>
                    <td><small><b>Date Aviable</b></small></td>
                    <td class="hr-td"><small><b>1/12/2021</b></small></td>
                </tr>
            </table>
            <div>
                <button class="hr-btn">Hire Candidate</button>
                <button class="hr-btn">Decline</button>
                <button class="hr-btn">Go Back</button>
                
            </div>
        </div>
        <div class="col-sm-6">
            <div class="cv-div">
                <button class="cv-btn">Resume</button>
                <button class="cover-letter-btn">Cover Letter</button>
            </div>
            <div class="img-cv">
                <img src="https://image.shutterstock.com/image-vector/minimalist-cv-resume-template-simple-260nw-336762527.jpg" alt="" style="width: 100%;height: 55vh;">
            </div>
            <div class="cv-download">
                <button class="cv-download-btn">Download</button>
                
                
            </div>
        </div>
    </div>

</div>