<div class="sidebar" id="sidebar"
>
<!-- *ngIf="isAuthenticated" -->
  <div class="sidebar-menu">
    <ul >
      <li><a routerLink="/dashboard" routerLinkActive="active"><span>Dashboard</span></a></li>
      <li><a routerLink="/staff" routerLinkActive="active"><span>Staff</span></a></li>
      <li><a routerLink="/leave-manager" routerLinkActive="active"><span>Leave Manager</span></a></li>
      <li><a routerLink="/hiring" routerLinkActive="active"><span>Hiring</span></a></li>
      <li><a routerLink="/reports" routerLinkActive="active"><span>Reports</span></a></li>
    </ul>
  </div>
  <footer>
    <p class="text-center copyright">&copy;Fuzupay</p>
  </footer>
</div>
