<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-start button-group">
          <div>
            <a class="btn btn-outline-primary a-button" id="overview" routerLink="/staff">
              overview </a>
          </div>
          <div>
            <a routerLink="/departments" class="btn btn-outline-primary a-button" id="department">department</a>
          </div>
          <div>
            <a routerLink="/add-staff" class="btn btn-outline-primary  btn-current-active a-button" id="addstaff">add staff</a>
          </div>
        </div>
      </div>
    </div>
    <div class="radio-btn">
      <input type="radio" class="details" name="details" value="Input details">Input details
      <input type="radio" class="details" name="details" value="upload document">Upload document
    </div>

    <div class="container">
      <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <div class="col">
          <label for="employee-code">Employee Code</label><br>
          <input type="number" name="data">
        </div>
        <div class="col">
          <label for="surname">Surname</label><br>
          <input type="text" name="data"><br>
        </div>
        <div class="col">
          <label for="other-name">Other Name</label><br>
          <input type="text" name="data">
        </div>
        <div class="col">
          <label for="phone-number">Phone Number</label><br>
          <input type="number" name="data">
        </div>
        <div class="col">
          <label for="email">Email</label><br>
          <input type="email" name="data">
        </div>
        <div class="col">
          <label for="id">ID/Passport Number</label><br>
          <input type="number" name="data">
        </div>
        <div class="col">
          <label for="nationality">Nationality</label><br>
          <input type="text" name="data">
        </div>
        <div class="col">
          <label for="dob">Date of Birth</label><br>
          <input type="text" name="data">
        </div>
        <div class="col">
          <label for="position">Department</label><br>
          <input type="text" name="data">
        </div>
        <div class="col">
          <label for="position">Position</label><br>
          <input type="text" name="data">
        </div>
        <div class="col">
          <label for="employment-type">Employment Type</label><br>
          <input type="text" name="data">
        </div>
        <div class="col">
          <label for="employment-date">Employment Date</label><br>
          <input type="text" name="data">
        </div>
        <div class="col">
          <label for="gross-salary">Gross Salary</label><br>
          <input type="number" name="data">
        </div>
        <div class="col">
          <label for="marital-status">Marital Status</label><br>
          <input type="text" name="data">
        </div>
        <div class="col">
          <label for="emergency-contact">Emergency Contact</label><br>
          <input type="number" name="data">
        </div>
        <div class="col">
          <label for="emergencyphone">Emergency Contact Phone</label><br>
          <input type="number" name="data">
        </div>

      </div>
    </div>

    <p class="p-payment">Payment Details</p>

    <div class="container">
      <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <div class="col">
          <label for="bank-name">Bank Name</label><br>
          <input type="text" name="data">
        </div>
        <div class="col">
          <label for="branch">Branch</label><br>
          <input type="text" name="data">
        </div>
        <div class="col">
          <label for="account-number">Account Number</label><br>
          <input type="number" name="data">
        </div>
      </div>
    </div>
    <div>
      <button type="submit" class="submit-btn">Save Details</button>
    </div>
  </div>
</section>
