/* .content {
  margin-left: 60px;
  padding: 0.5em;
} */

.card-btn {
  background-color: #ffffff;
  border: 1px solid #004763;
  border-radius: 2px;
  padding: 0px 24px;
  margin: 20px;
  color: #004763;
}
.card-btn:hover {
  background-color: #004763;
  color: #ffffff;
}
.radio-btn {
  margin: 15px;
}
.details {
  margin: 10px;
}
input[type="number"] {
  width: 120px;
  height: 25px;
  border-radius: 2px;
  border: 1px solid #000;
}
input[type="text"] {
  width: 120px;
  height: 25px;
  border-radius: 4px;
}
input[type="email"] {
  width: 120px;
  height: 25px;
  border-radius: 4px;
}
input[type="date"] {
  width: 120px;
  height: 25px;
  border-radius: 2px;
  border: 1px solid #000;
}
.p-payment {
  color: #004763;
  font-weight: bold;
  margin: 15px;
}
.submit-btn {
  background-color: #004763;
  border: 1px solid;
  border-radius: 5px;
  color: #ffffff;
  width: 140px;
  height: 30px;
}

label {
  font-size: 13px;
  font-weight: bold;
  color: #010f15;
}


.download {
  height: 50px;
  width: 100px;
}
