<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-start button-group">
          <div>
            <a class="btn btn-outline-primary a-button" id="overview" routerLink="/staff">
              overview </a>
          </div>
          <div>
            <a routerLink="/staff/departments" class="btn btn-outline-primary a-button" id="department">department</a>
          </div>
          <div>
            <a routerLink="/staff/add-staff" class="btn btn-outline-primary  btn-current-active a-button"
              id="addstaff">add staff</a>
          </div>
        </div>
      </div>
    </div>
    <div class="radio-btn">
      <input type="radio" class="details" name="details" value="Input details" checked
        (click)="showTextBox($event)">Input details
      <input type="radio" class="details" name="details" value="upload document" (click)="showTextBox($event)">Upload
      document
    </div>
    <div class="row" *ngIf="isLoading">
      <div class="col-md-12 text-center">
        <app-loader></app-loader>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="successMessage">
          {{successMessage.success }}
        </div>
        <div *ngIf="errorMessage">
          <span *ngFor="let item of errorMessage | keyvalue">
            <div class="alert alert-danger text-capitalize" role="alert">
              {{item.key}} - {{item.value}}
            </div>
          </span>
        </div>
      </div>
    </div>
    <form (ngSubmit)="addStaffOnSubmit(f)" #f="ngForm" *ngIf="!isLoading">
      <div id="input-details">
        <div class="container">
          <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            <div class="col mb-2 employee_code">
              <label class="mb-1" for="employee-code">Employee Code</label>
              <input type="text" id="employee_code" name="employee_id" class="form-control" ngModel #employee_id
                required>
              <!-- display random number -->
              <span class="staff_number">
                Or Copy: {{employeeCode}}
              </span>
            </div>
            <div class="col mb-2">
              <label class="mb-1" for="surname">Surname</label>
              <input type="text" name="surname" class="form-control" ngModel #surname required>
            </div>
            <div class="col mb-2">
              <label class="mb-1" for="other-name">Other Name</label>
              <input type="text" name="other_names" class="form-control" ngModel #other_names required>
            </div>
            <div class="col mb-2">
              <label class="mb-1" for="phone-number">Phone Number</label>
              <input type="number" name="phone_number" class="form-control" ngModel #phone_number required>
            </div>
            <div class="col mb-2">
              <label class="mb-1" for="email">Email</label>
              <input type="email" name="email" class="form-control" ngModel #email required>
            </div>
            <div class="col mb-2">
              <label class="mb-1" for="id">ID/Passport Number</label>
              <input type="text" name="national_id" class="form-control" ngModel #national_id required>
            </div>
            <div class="col mb-2">
              <label class="mb-1" for="nationality">Country</label>
              <input type="text" name="country" class="form-control" ngModel #country>
            </div>
            <div class="col mb-2">
              <label class="mb-1" for="dob">Date of Birth</label>
              <input type="date" name="date_of_birth" class="form-control" ngModel #date_of_birth>
            </div>
            <div class="col mb-2">
              <label class="mb-1" for="position">Department</label>
              <!-- <input type="text" name="department" class="form-control" ngModel #department> -->
              <select name="department" id="department" class="form-select" ngModel #department>
                <option *ngFor="let dep of departments" value="{{ dep.id }}">{{ dep.name }}</option>
              </select>
            </div>
            <div class="col mb-2">
              <label class="mb-1" for="position">Position</label>
              <input type="text" name="position" class="form-control" ngModel #position required>
            </div>
            <div class="col mb-2">
              <label class="mb-1" for="employment-type">Employment Type</label>
              <!-- <input type="text" name="employment_type" class="form-control" ngModel #employment_type> -->
              <select name="employment_type" id="employment_type" class="form-select" ngModel #employment_type>
                <option *ngFor="let emp of employmentType" value="{{ emp.id }}">{{ emp.name }}</option>
              </select>
            </div>
            <div class="col mb-2">
              <label class="mb-1" for="employment-date">Employment Date</label>
              <input type="date" name="employment_date" class="form-control" ngModel #employment_date>
            </div>
            <div class="col mb-2">
              <label class="mb-1" for="gross-salary">Gross Salary</label>
              <input type="number" name="gross_salary" class="form-control" ngModel #gross_salary required>
            </div>
            <div class="col mb-2">
              <label class="mb-1" for="marital-status">Marital Status</label>
              <select name="marital_status" id="marital_status" class="form-select" ngModel #marital_status>
                <option value="married">Married</option>
                <option value="single">Single</option>
                <option value="divorced">Divorced</option>
                <option value="widow">Widow</option>
              </select>
            </div>
            <div class="col mb-2">
              <label class="mb-1" for="emergency-contact">Emergency Contact</label>
              <input type="number" name="emergency_contact" class="form-control" ngModel #emergency_contact>
            </div>
            <div class="col mb-2">
              <label class="mb-1" for="emergencyphone">Emergency Contact Phone</label>
              <input type="number" name="emergency_contact_number" class="form-control" ngModel
                #emergency_contact_number>
            </div>

          </div>
        </div>

        <p class="p-payment">Payment Details</p>

        <div class="container">
          <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            <div class="col mb-2">
              <label class="mb-1" for="bank-name">Bank Name</label>
              <input type="text" name="bank_name" class="form-control" ngModel #bank_name>
            </div>
            <div class="col mb-2">
              <label class="mb-1" for="branch">Branch Name</label>
              <input type="text" name="bank_branch" class="form-control" ngModel #bank_branch>
            </div>
            <div class="col mb-2">
              <label class="mb-1" for="account-number">Account Number</label>
              <input type="text" name="account_number" class="form-control" ngModel #account_number>
            </div>
            <input type="text" name="password" value="password" ngModel #password>
          </div>
        </div>
      </div>

      <div id="upload-documents" style="display: none;">
        <div class="row">
          <div class="col-md-12">
            <div class="par mt-3 mb-3">
              <p class="m-1 text-bold paragraph-1"><span class="mr-5">* Kindly download the excel spreadsheet, fill the
                  details & upload</span> <button type="submit" class="submit-btn">Download</button></p>
            </div>
          </div>
        </div>
        <form class="row g-0">
          <div class="col-auto">
            <input class="form-control" type="file" id="formFile">
          </div>
          <div class="col-auto">
            <button class="btn btn-outline-primary mb-3">Upload</button>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col-md-8 text-center mt-5">
          <button type="submit" class="submit-btn">Save Details</button>
        </div>
      </div>
    </form>
  </div>
</section>
