/* styling for staff details component */

.card {
  margin-top: 2.3rem;
  box-shadow: 2px 2px 2px 2px #b9bdbe;
  

}
.body-card{
  position: absolute;
  left: 35%;
}

.abb {
  margin-top: 2.2rem;
  color: #004763;
  box-shadow: 2px 2px 2px 2px #b9bdbe;
  height: 4rem;
  padding: 1rem;
}

.back {
  font-weight: bold;
  font-size: 18px;
}

.int {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnhomed {
  border: none;
  color: #004763;
  cursor: pointer;
  text-transform: capitalize;
  border: 2px solid;
  box-shadow: 1px 1px 1px 1px #004763;
  text-align: center;
  margin: 0 2rem;
  border-radius: 2px;
  padding-top: -1rem;
  font-size: 1.3rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
.btn-bn {
  border: none;
  background-color: #004763;
  color: white;
  cursor: pointer;
  text-transform: capitalize;

  text-align: center;
  margin: 0 2rem;
  border-radius: 2px;
  padding-top: -1rem;
  font-size: 1.3rem;
}
.pit {
  display: flex;
  margin-left: 4rem;
}

.hep {
  margin-top: 1rem;
}

/* ==================== */
.btn-edit {
  margin-right: 20px;
}

.form-select {
  margin-left: 40px;
  border: 1px solid #004763;
  color: #004763;
  font-weight: 600;
}

.icon i {
  font-size: 5em;
}

.body-card p,
.body-card h6,
.body-card h4 {
  color: #0a0a0a;
  font-size: 16px;
}

.fa-map-marker {
  font-size: 0.8em;
  color: #0a0a0a;
  margin-right: 10px;
}


tbody {
  margin-top: 200px !important;
}

