<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
          <button class="btn-bn btn-edit mt-3">Edit</button>
      </div>
      <div class="col-md-2">
        <div class="mt-3">
          <select class="form-select">
            <option>Actions</option>
            <option>Permanent</option>
            <option>Contract</option>
          </select>
        </div>
      </div>
    </div>

    <div class="card" style="width: 38rem;">
      <div class="col-md-6 mb-4">
        <!-- <img class="rounded-circle" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
          data-holder-rendered="true"> -->
          <div class="icon">
            <i class="fas fa-user-circle"></i>
          </div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Shella Martins</h4>
        <h6 class="sub-title">Information Technology Assistant</h6>
        <p class="sub-title"><i class="fa fa-map-marker" aria-hidden="true"></i>Nairobi,kenya</p>
        <p class="sub-title">Working Period: <strong>9 Months</strong></p>

      </div>

    </div>

    <div class="abb">
      <h3>Employee Information</h3>
    </div>

    <table class="table table-borderless">

      <thead>
        <tr>
          <th>Company</th>
          <th>Company Limited</th>
          <th>Employee ID</th>
          <th>Cl/048/2021</th>
        </tr>
      </thead>

      <tbody class="mt-5">
        <tr>
          <td class="back">Work Email</td>
          <td>companywairimu@gmail.com</td>
          <td>Employment Date</td>
          <td>01/02/2021</td>
        </tr>
        <tr>
          <td class="back">Personal Email</td>
          <td>shellawairimu@gmail.com</td>
          <td>Department</td>
          <td>Information Technology</td>
        </tr>
        <tr>
          <td class="back">Mobile Number</td>
          <td>+254707569387</td>
          <td>Gross pay</td>
          <td>KES 30,000</td>
        </tr>
        <tr>
          <td class="back">Work Email</td>
          <td>companywairimu@gmail.com</td>
          <td>Employment Date</td>
          <td>01/02/2021</td>
        </tr>
        <tr>
          <td class="back">Insurance Number</td>
          <td>846734</td>
          <td>Net Pay</td>
          <td>26,300</td>
        </tr>
        <tr>
          <td class="back">Tax Pin Number</td>
          <td>A364736727</td>
          <td></td>
          <td></td>
        </tr>

      </tbody>
    </table>

    <div class="int">
      <button class="btn-bn">Save Change</button>
      <button class="btn btn-outline-primary text-bold"> Go Back</button>

    </div>


  </div>



</section>
