<app-header></app-header>
<app-sidebar></app-sidebar>
<section class="content" >
  <div class="container" *ngIf="isLoading">
    <div class="row">
      <div class="col-md-12 text-center">
        <app-loader></app-loader>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="!isLoading">
    <div class="row">
      <div class="col-md-2">
        <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Edit</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
       <button type="button" class="btn btn-primary justify-content-center">Schedule Interview</button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row mb-3">
            <div class="col-1">
              <label for="recipient-name" class="col-form-label">Email</label>
            </div>
            <div class="col-11">
              <input type="email" class="form-control" id="recipient-name">
            </div>

          </div>
          <div class="row mb-3">
            <div class="col-1">
              <label for="recipient-name" class="col-form-label">Time</label>
            </div>
            <div class="col-11">
              <input type="time" class="form-control" id="recipient-name">
            </div>

          </div>
          <div class="row mb-3">
            <div class="col-1">
              <label for="recipient-name" class="col-form-label">Date</label>
            </div>
            <div class="col-11">
              <input type="date" class="form-control" id="recipient-name">
            </div>

          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text" rows="20"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-center">

        <button type="button" class="btn btn-primary justify-content-center">Send</button>

      </div>

    </div>
  </div>
</div>
      </div>

      <div class="col-md-2">
        <div class="mt-3">
          <select class="form-select">
            <option>Actions</option>
            <option>Permanent</option>
            <option>Contract</option>
          </select>
        </div>
      </div>
    </div>


        <div class="icon">
          <i class="fas fa-user-circle"></i>
        </div>
      </div>
      <div class="card-body">
      
        <h4 class="card-title text-capitalize"> {{ employee.employee.other_names }} {{ employee.employee.surname }}</h4>
        <h6 class="sub-title text-capitalize">{{ employee?.department.name }}</h6>
        <p class="sub-title text-capitalize"><i class="fa fa-map-marker" aria-hidden="true"></i>{{ employee?.employee.country }}
        </p>
        <p class="sub-title">Working Period: <strong>9 Months</strong></p>

      </div>

    <!-- </div> -->

    <div class="abb">
      <h3>Employee Information</h3>
    </div>

    <table class="table table-borderless mt-4" >

      <thead>
        <tr>
          <th>Company:</th>
          <th>Company Limited</th>
          <th>Employee ID:</th>
          <th>{{ employee?.employee.employee_id }}</th>
        </tr>
      </thead>

      <tbody class="mt-5 text-capitalize">
        <tr>
          <td class="back">Work Email</td>
          <td class="text-lowercase">{{ employee?.employee.email }}</td>
          <td>Employment Date</td>
          <td>{{ employee?.employment_date }}</td>
        </tr>
        <tr>
          <td class="back">Personal Email</td>
          <td>{{ employee?.employee.personal_email }}</td>
          <td>Department</td>
          <td>{{ employee?.department.name }}</td>
        </tr>
        <tr>
          <td class="back">Mobile Number</td>
          <td>{{ employee?.phone_number }}</td>
          <td>Gross pay</td>
          <td>Ksh {{ employee?.gross_salary }}</td>
        </tr>
        <tr>
          <td class="back">Employee Type</td>
          <td>{{ employee?.employment_type.name }}</td>
          <td>Employment Date</td>
          <td>{{ employee?.employment_date }}</td>
        </tr>
        <tr>
          <td class="back">Insurance Number</td>
          <td>{{ employee?.insurance_number }}</td>
          <td>Net Pay</td>
          <td>Ksh 00.00</td>
        </tr>
        <tr>
          <td class="back">Tax Pin Number</td>
          <td>{{ employee?.tax_pin_number}}</td>
          <td>Position</td>
          <td>{{ employee?.position }}</td>
        </tr>
        <tr>
          <td class="back">ID Number</td>
          <td>{{ employee?.employee.national_id }}</td>
          <td>Marital Status</td>
          <td>{{ employee?.marital_status }}</td>
        </tr>
        <tr>
          <td class="back">Date Of Birth</td>
          <td>{{ employee?.employee.date_of_birth }}</td>
          <td>Emergency Contact</td>
          <td>{{ employee?.emergency_contact }} / {{ employee?.emergency_contact_number }}</td>
        </tr>

      </tbody>
    </table>

    <div class="int">
      <button class="btn-bn">Save Change</button>
      <button class="btn btn-outline-primary text-bold"> Go Back</button>

    </div>


  <!-- </div> -->
</section>
