<app-jobs></app-jobs>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <h4>Position</h4>
        </div>

        <div class="col-4">
            <h4>Department</h4>
        </div>

        <div class="col-4">
            <h4>Expired</h4>
        </div>

    </div>

    <div class="row">
        <div class="col-4">
            <p>Software developement</p>
        </div>

        <div class="col-4">
            <p>Information technology</p>
        </div>

        <div class="col-4">
            <p>28/06/2021</p>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <p>Software developement</p>
        </div>

        <div class="col-4">
            <p>Information technology</p>
        </div>

        <div class="col-4">
            <p>28/06/2021</p>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <p>Software developement</p>
        </div>

        <div class="col-4">
            <p>Information technology</p>
        </div>

        <div class="col-4">
            <p>28/06/2021</p>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <p>Software developement</p>
        </div>

        <div class="col-4">
            <p>Information technology</p>
        </div>

        <div class="col-4">
            <p>28/06/2021</p>
        </div>
    </div>
</div>
