<app-jobs></app-jobs>
<section class="content">

  <div class="container-fluid ">
    <table class="table table-hover table-borderless color">
      <thead>
        <tr>
          <th scope="col">Position</th>
          <th scope="col">Department</th>
          <th scope="col">Expired</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pastjob of jobs">
          <th class="col" scope="row">{{ pastjob.job_title }}</th>
          <td class="col">{{ pastjob.department }}</td>
          <td class="col">{{ pastjob.deadline | date:'dd/MM/yyyy' }}</td>
        </tr>
      </tbody>
    </table>
</div>


</section>
