<app-jobs></app-jobs>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <h4>Position</h4>
      </div>

      <div class="col-4">
        <h4>Department</h4>
      </div>

      <div class="col-4">
        <h4>Expired</h4>
      </div>

    </div>
<div>

</div>
    <div class="row" *ngFor="let pastjob of jobs">
      <div class="col-4">
        <p>{{ pastjob.job_title }}</p>
      </div>

      <div class="col-4">
        <p>{{ pastjob.department }}</p>
      </div>

      <div class="col-4">
        <p class="text-danger">{{ pastjob.deadline }}</p>
      </div>
    </div>


  </div>

</section>
