
<app-applications></app-applications>
<div class="container-fluid">
    <div class="row">
        <!-- the left side of the single interview body -->
        <div class="row col-md-6">
            <div>
                <h6>Application Status: In Review</h6>
            </div>
            <div class="row">
                <div class="col-sm-4 ">
                    <img src="./assets/img/prof.png" class="avatar-md avatar rounded-circle" style="width: 150px;height: 150px;"alt="">
                </div>
                <div class="col-sm-8 pt-5">
                    <h6 class="m-3">Michael Muthamia</h6>
                    <h6 class="m-2"><i class="far fa-envelope"></i> Linkedin.com/in/muthamiamichael</h6>
                    <h6 class="m-2"><i class="fab fa-linkedin"></i> Linkedin.com/in/muthamiamichael</h6>
                </div>

            </div>
            <div class="col mt-5">
                <div class="row m-3">
                    <div class="col-sm-4 text-dark">
                        <h6>Phone No:</h6>
                    </div>
                    <div class="col-sm-8">
                        <h6>+254723xxxxxxx</h6>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-sm-4 text-dark">
                        <h6>Location:</h6>
                    </div>
                    <div class="col-sm-8">
                        <h6>Nairobi/kenya</h6>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-sm-4 text-dark">
                        <h6>Education Obtained:</h6>
                    </div>
                    <div class="col-sm-8">
                        <h6>Bachelors Degree</h6>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-sm-4 text-dark">
                        <h6>Education Obtained:</h6>
                    </div>
                    <div class="col-sm-8">
                        <h6>Bachelors Degree</h6>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-sm-4 text-dark">
                        <h6>Graduation Year:</h6>
                    </div>
                    <div class="col-sm-8">
                        <h6>2021</h6>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-sm-4 text-dark">
                        <h6>Desired pay:</h6>
                    </div>
                    <div class="col-sm-8">
                        <h6>600000 ksh</h6>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-sm-4 text-dark">
                        <h6>Date Available:</h6>
                    </div>
                    <div class="col-sm-8">
                        <h6>1/02/2021</h6>
                    </div>
                </div>
            </div>
            <div class="row">
        <!-- Button trigger modal -->
                <div class="col-sm-4">
                    <button type="button" class="btn btn-outline-secondary h activebuttons" data-bs-toggle="modal" data-bs-target="#interview">Schedule Interview</button>
                </div>
        <!-- Button trigger modal -->

                <div class="col-sm-4">
                    <button type="button" class="btn btn-outline-secondary h" routerLinkActive="activebuttons">Decline</button>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-outline-secondary h activebuttons"(click)="goBack()">Go back</button>
                </div>

            </div>
        </div>
        <!-- the left side of the single interview body -->
        
        <div class="row col-md-6">


            <div class="row justify-content-center mb-2">
                <div class="col-sm-4">
                    <button type="button" class="btn btn-outline-secondary h" routerLinkActive="activebuttons">Resume</button>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-outline-secondary h" routerLinkActive="activebuttons">Cover letter</button>
                </div>
            </div>
            <div class="row">
                <div class="card col-sm-12" style="height: 495px;">
                    <embed src="file_name.pdf" height="495px" />

                  </div>
            </div>
            <div class="row justify-content-center mt-2">
                <div class="col-sm-4">
                    <a href="file_name.pdf" download="proposed_file_name" class="btn btn-outline-secondary activebuttons h text-light">Download</a>
                </div>
            </div>

        </div>
    </div>

    <!-- modal to send emails to the Applicants -->
    
  <!-- Modal -->
  <div class="modal fade" id="interview" tabindex="-1" aria-labelledby="interviewmodal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-outline-secondary h">Save changes</button>
        </div>
      </div>
    </div>
  </div>


</div>