<app-applications></app-applications>
<section class="content">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <!-- the left side of the single interview body -->
      <div class="row col-md-5">
        <div>
          <h6>Application Status: {{ singleApplicant?.status }}</h6>
        </div>
        <div class="row">
          <div class="col-sm-4 ">
            <img src="./assets/img/prof.png" class="avatar-md avatar rounded-circle" style="width: 150px;height: 150px;"
              alt="">
          </div>
          <div class="col-sm-8 pt-5" >
            <h6 class="m-2 text-bold">{{ singleApplicant?.applicant_name }}</h6>
            <h6 class="m-2"><i class="far fa-envelope"></i> <a href="{{ singleApplicant?.linkedin_url }}"
                class="text-dark text-bold m-1 nowrap">{{ singleApplicant?.email | slice:0:30 }}..</a> </h6>
            <h6 class="m-2"><i class="fab fa-linkedin"></i> <a href="{{ singleApplicant?.linkedin_url }}"
                class="text-dark text-bold m-1">{{ singleApplicant?.linkedin_url | slice:0:30  }}..</a></h6>
          </div>
  
        </div>
        <div class="col mt-5">
          <div class="row m-3">
            <div class="col-sm-4 text-dark">
              <h6>Phone No:</h6>
            </div>
            <div class="col-sm-8">
              <h6>{{ singleApplicant?.phone_number }}</h6>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-sm-4 text-dark">
              <h6>Location:</h6>
            </div>
            <div class="col-sm-8">
              <h6>{{ singleApplicant?.location }}</h6>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-sm-4 text-dark">
              <h6>Education Obtained:</h6>
            </div>
            <div class="col-sm-8">
              <h6>{{ singleApplicant?.education_obtained }}</h6>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-sm-4 text-dark">
              <h6>Experience:</h6>
            </div>
            <div class="col-sm-8">
              <h6>{{ singleApplicant?.experience }}</h6>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-sm-4 text-dark">
              <h6>Graduation Year:</h6>
            </div>
            <div class="col-sm-8">
              <h6>{{ singleApplicant?.graduation_year }}</h6>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-sm-4 text-dark">
              <h6>Desired pay:</h6>
            </div>
            <div class="col-sm-8">
              <h6>{{ singleApplicant?.desired_salary }}</h6>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-sm-4 text-dark">
              <h6>Date Available:</h6>
            </div>
            <div class="col-sm-8">
              <h6>{{ singleApplicant?.date_available }}</h6>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Button trigger modal -->
          <div class="col-sm-4">
            <button type="button" class="btn btn-outline-primary h " data-bs-toggle="modal"
              data-bs-target="#interview">Schedule Interview</button>
          </div>
          <!-- Button trigger modal -->

          <div class="col-sm-4">
            <button type="button" class="btn btn-outline-primary h" routerLinkActive="activebuttons">Decline</button>
          </div>
          <div class="col-sm-4">
            <button type="button" (click)="goBack()" class="btn btn-outline-primary h ">Go back</button>
          </div>

        </div>
      </div>
      <!-- the left side of the single interview body -->

      <div class="row col-md-6">


        <div class="row justify-content-center mb-2">
          <div class="col-sm-4">
            <button type="button" class="btn btn-primary h" routerLinkActive="activebuttons">Resume</button>
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-outline-primary h" routerLinkActive="activebuttons">Cover
              letter</button>
          </div>
        </div>
        <div class="row">
          <div class="card col-sm-12" style="height: 495px;">
            <embed src="./assets/img/hes-resume-cover-letter-guide.pdf " height="495px" />
          </div>
        </div>
        <div class="row justify-content-center mt-2">
          <div class="col-sm-4">
            <a href="./assets/img/hes-resume-cover-letter-guide.pdf " download="proposed_file_name"
              class="btn btn-outline-secondary activebuttons h text-light">Download</a>
          </div>
        </div>

      </div>
    </div>

    <!-- modal to send emails to the qualified Applicants -->

    <!-- Modal -->
    <div class="modal fade" id="interview" tabindex="-1" aria-labelledby="interviewmodal" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
              <!-- display error and success successMessage -->
              <div class="row">
                <div class="col-md-12">
                  <div class="alert alert-success" role="alert" *ngIf="successMessage">
                    {{successMessage}}
                  </div>
                  <div *ngIf="errorMessage">
                    <span *ngFor="let item of errorMessage | keyvalue">
                      <div class="alert alert-danger text-capitalize" role="alert">
                        {{item.key}} - {{item.value}}
                      </div>
                    </span>
                  </div>
                </div>
              </div>
              <!-- ======================================================= -->
          <div class="modal-body">
            <div class="row justify-content-center">
              <div class="col-sm-4 mb-5">
                <button type="button" class="btn btn-outline-secondary activebuttons h">Schedule interview</button>
              </div>
              <form (ngSubmit)="scheduleInter(f)" #f="ngForm" *ngIf="!isLoading">
                <div class="mb-4 row">
                  <label for="mail" class="col-sm-2 col-form-label">Name</label>
                  <div class="col-sm-6">
                    <select name="applicant" id="department" class="form-select" ngModel #applicant required>
                      <option  value="{{ singleApplicant.id }}" selected >{{ singleApplicant.applicant_name }}</option>
                      <option value=""></option>
                    </select>
                  </div>
                </div>
                <div class="mb-4 row">
                  <label for="mail" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-6">
                    <input type="email" class="form-control" id="mail" value="{{ singleApplicant?.email}}">
                  </div>
                </div>
                <div class="mb-4 row">
                  <label for="time" class="col-sm-2 col-form-label">Time</label>
                  <div class="col-sm-3">
                    <input type="time" class="form-control" id="time" name="interview_time_from" step="2" ngModel #interview_time_from required>
                  </div>
                  <div class="col-sm-3">
                    <input type="time" class="form-control" id="time" name="interview_time_to" step="2" ngModel #interview_time_to required>
                  </div>
                </div>
                <div class="mb-4 row">
                  <label for="date" class="col-sm-2 col-form-label">Date</label>
                  <div class="col-sm-4">
                    <input type="date" class="form-control" id="date" placeholder="{{ singleApplicant?.date_available }}" name="interview_date" ngModel #interview_date required>
                  </div>
                </div>
                <div class="mb-4 row">
                  <div class="col-sm-12">
                    <textarea name="" id="" cols="81" rows="15" name="content" ngModel #content required></textarea>
                  </div>
                </div>

                <div class="row justify-content-center">
                  <div class="col-sm-4 mb-5">
                    <button type="submit" class="btn btn-outline-primary activebuttons h">Send</button>
                  </div>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>


  </div>
</section>
