<app-applications></app-applications>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- the left side of the single interview body -->
      <div class="row col-md-6">
        <div>
          <h6>Application Status: In Review</h6>
        </div>
        <div class="row">
          <div class="col-sm-4 ">
            <img src="./assets/img/prof.png" class="avatar-md avatar rounded-circle" style="width: 150px;height: 150px;"
              alt="">
          </div>
          <div class="col-sm-8 pt-5" >
            <h6 class="m-2 text-bold">Michael Muthamia</h6>
            <h6 class="m-2"><i class="far fa-envelope"></i> <span
                class="text-dark text-bold m-1">Linkedin.com/in/muthamiamichael</span></h6>
            <h6 class="m-2"><i class="fab fa-linkedin"></i> <span
                class="text-dark text-bold m-1">Linkedin.com/in/muthamiamichael</span></h6>
          </div>
  
        </div>
        <div class="col mt-5">
          <div class="row m-3">
            <div class="col-sm-4 text-dark">
              <h6>Phone No:</h6>
            </div>
            <div class="col-sm-8">
              <h6>+254723xxxxxxx</h6>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-sm-4 text-dark">
              <h6>Location:</h6>
            </div>
            <div class="col-sm-8">
              <h6>Nairobi/kenya</h6>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-sm-4 text-dark">
              <h6>Education Obtained:</h6>
            </div>
            <div class="col-sm-8">
              <h6>Bachelors Degree</h6>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-sm-4 text-dark">
              <h6>Education Obtained:</h6>
            </div>
            <div class="col-sm-8">
              <h6>Bachelors Degree</h6>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-sm-4 text-dark">
              <h6>Graduation Year:</h6>
            </div>
            <div class="col-sm-8">
              <h6>2021</h6>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-sm-4 text-dark">
              <h6>Desired pay:</h6>
            </div>
            <div class="col-sm-8">
              <h6>600000 ksh</h6>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-sm-4 text-dark">
              <h6>Date Available:</h6>
            </div>
            <div class="col-sm-8">
              <h6>1/02/2021</h6>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Button trigger modal -->
          <div class="col-sm-4">
            <button type="button" class="btn btn-outline-primary h " data-bs-toggle="modal"
              data-bs-target="#interview">Schedule Interview</button>
          </div>
          <!-- Button trigger modal -->

          <div class="col-sm-4">
            <button type="button" class="btn btn-outline-primary h" routerLinkActive="activebuttons">Decline</button>
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-outline-primary h ">Go back</button>
          </div>

        </div>
      </div>
      <!-- the left side of the single interview body -->

      <div class="row col-md-6">


        <div class="row justify-content-center mb-2">
          <div class="col-sm-4">
            <button type="button" class="btn btn-primary h" routerLinkActive="activebuttons">Resume</button>
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-outline-primary h" routerLinkActive="activebuttons">Cover
              letter</button>
          </div>
        </div>
        <div class="row">
          <div class="card col-sm-12" style="height: 495px;">
            <embed src="file_name.pdf" height="495px" />
          </div>
        </div>
        <div class="row justify-content-center mt-2">
          <div class="col-sm-4">
            <a href="file_name.pdf" download="proposed_file_name"
              class="btn btn-outline-secondary activebuttons h text-light">Download</a>
          </div>
        </div>

      </div>
    </div>

    <!-- modal to send emails to the qualified Applicants -->

    <!-- Modal -->
    <div class="modal fade" id="interview" tabindex="-1" aria-labelledby="interviewmodal" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row justify-content-center">
              <div class="col-sm-4 mb-5">
                <button type="button" class="btn btn-outline-secondary activebuttons h">Schedule interview</button>
              </div>
              <form action="">
                <div class="mb-4 row">
                  <label for="mail" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-6">
                    <input type="email" class="form-control" id="mail">
                  </div>
                </div>
                <div class="mb-4 row">
                  <label for="time" class="col-sm-2 col-form-label">Time</label>
                  <div class="col-sm-4">
                    <input type="time" class="form-control" id="time">
                  </div>
                </div>
                <div class="mb-4 row">
                  <label for="date" class="col-sm-2 col-form-label">Date</label>
                  <div class="col-sm-4">
                    <input type="date" class="form-control" id="date">
                  </div>
                </div>
                <div class="mb-4 row">
                  <div class="col-sm-12">
                    <textarea name="" id="" cols="81" rows="15"></textarea>
                  </div>
                </div>

                <div class="row justify-content-center">
                  <div class="col-sm-4 mb-5">
                    <button type="button" class="btn btn-outline-primary activebuttons h">Send</button>
                  </div>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>


  </div>

</section>
