<section class="content">
  <div class="container">
    <!-- body code here -->
    <div class="container">
      <button type="button" class="btn btnhome btn-sm btn-active  btn-default m-2" data-bs-toggle="button"
        autocomplete="off">overview</button>
      <button type="button" class="btn btnhome  btn-sm btn-default" data-bs-toggle="button" autocomplete="off"
        aria-pressed="true">department</button>
      <button type="button" class="btn  btnhome  btn-sm btn-default" data-bs-toggle="button" autocomplete="off">add
        staff</button>
      <div class="par">
        <p class="m-3">* Click staff name to make changes</p>
      </div>


      <div class="class">

        <div class="search">
        <i class="fa fa-search m-2"></i>
        <p>Search</p>
        </div>

        <p class="pe m-2">EmploymentType</p>

        <div class="dropdown">
          <button class="btn btn-default" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All<i class="bi bi-chevron-down m-3"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        <p class="pe m-2">Department</p>
        <div class="dropdown">
          <button class="btn btn-default " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All<i class="bi bi-chevron-down m-3"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        <p class="pe m-2">Status</p>
        <div class="dropdown">
          <button class="btn btn-default " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Active<i class="bi bi-chevron-down m-3"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>

      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Fullname</th>
            <th>Department</th>
            <th>Position</th>
            <th>Status</th>
            <th>Employment Type</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="main-color">John Doe</td>
            <td>Information Technology</td>
            <td>Software Developer</td>
            <td>Active</td>
            <td>Fulltime</td>
          </tr>
          <tr>
            <td class="main-color">John Doe</td>
            <td>Information Technology</td>
            <td>Software Developer</td>
            <td>Active</td>
            <td>Fulltime</td>
          </tr>
          <tr>
            <td class="main-color">John Doe</td>
            <td>Information Technology</td>
            <td>Software Developer</td>
            <td>Active</td>
            <td>Fulltime</td>
          </tr>
          <tr>
            <td class="main-color">John Doe</td>
            <td>Information Technology</td>
            <td>Software Developer</td>
            <td>Active</td>
            <td>Fulltime</td>
          </tr>
          <tr>
            <td class="main-color">John Doe</td>
            <td>Information Technology</td>
            <td>Software Developer</td>
            <td>Active</td>
            <td>Fulltime</td>
          </tr>
          <tr>
            <td class="main-color">John Doe</td>
            <td>Information Technology</td>
            <td>Software Developer</td>
            <td>Active</td>
            <td>Fulltime</td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>
</section>
