<section class="content">
  <div class="container">
    <!-- body code here -->
    <div class="container">
      <button type="button" class="btn btnhome btn-sm btn-active  btn-default m-2" data-bs-toggle="button"
        autocomplete="off">overview</button>
      <button type="button" class="btn btnhome  btn-sm btn-default" data-bs-toggle="button" autocomplete="off"
        aria-pressed="true">department</button>
      <button type="button" class="btn  btnhome  btn-sm btn-default" data-bs-toggle="button" autocomplete="off">add
        staff</button>
      <div class="par">
        <p class="m-3">* Click staff name to make changes</p>
      </div>
      <div class="class">

        <p class="id"><i class="fa fa-search m-2"></i>Search</p>
        <p>Employment Type <button class="btnn btn-sm m-3">all<i class="bi bi-chevron-down m-3"></i></button></p>
        <p>Department <button class="btnn btn-sm m-3">all<i class="bi bi-chevron-down m-3"></i></button></p>
        <p>Status<button class="btnn btn-sm m-3">active<i class="bi bi-chevron-down m-3"></i></button></p>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Fullname</th>
            <th>Department</th>
            <th>Position</th>
            <th>Status</th>
            <th>Employment Type</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="main-color">John Doe</td>
            <td>Information Technology</td>
            <td>Software Developer</td>
            <td>Active</td>
            <td>Fulltime</td>
          </tr>
          <tr>
            <td class="main-color">John Doe</td>
            <td>Information Technology</td>
            <td>Software Developer</td>
            <td>Active</td>
            <td>Fulltime</td>
          </tr>
          <tr>
            <td class="main-color">John Doe</td>
            <td>Information Technology</td>
            <td>Software Developer</td>
            <td>Active</td>
            <td>Fulltime</td>
          </tr>
          <tr>
            <td class="main-color">John Doe</td>
            <td>Information Technology</td>
            <td>Software Developer</td>
            <td>Active</td>
            <td>Fulltime</td>
          </tr>
          <tr>
            <td class="main-color">John Doe</td>
            <td>Information Technology</td>
            <td>Software Developer</td>
            <td>Active</td>
            <td>Fulltime</td>
          </tr>
          <tr>
            <td class="main-color">John Doe</td>
            <td>Information Technology</td>
            <td>Software Developer</td>
            <td>Active</td>
            <td>Fulltime</td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>
</section>
