<div class="container-fluid">

  <table class="table table-hover table-borderless">
    <thead>
      <tr>
        <th scope="col">Applicants Name</th>
        <th scope="col">Position Applied</th>
        <th scope="col">Education Qualifications</th>
        <th scope="col">Experience</th>
        <th scope="col">location</th>
        <th scope="col" >Attached Documents</th>

      </tr>
    </thead>
    <tbody>
      <tr routerLink="/hiring/application/singleapplications">
        <th scope="row">Stephen Odiek</th>
        <td>Software Developer</td>
        <td>Bsc Computer science</td>
        <td>5yrs</td>
        <td>Nairobi</td>
        <td >Yes</td>
      </tr>

      <tr routerLink="/hiring/application/singleapplications">
        <th scope="row">Stephen Odiek</th>
        <td>Software Developer</td>
        <td>Bsc Computer science</td>
        <td>5yrs</td>
        <td>Nairobi</td>
        <td >Yes</td>
      </tr>

      <tr routerLink="/hiring/application/singleapplications">
        <th scope="row">Stephen Odiek</th>
        <td>Software Developer</td>
        <td>Bsc Computer science</td>
        <td>5yrs</td>
        <td>Nairobi</td>
        <td >Yes</td>
      </tr>

      <tr routerLink="/hiring/application/singleapplications">
        <th scope="row">Stephen Odiek</th>
        <td>Software Developer</td>
        <td>Bsc Computer science</td>
        <td>5yrs</td>
        <td>Nairobi</td>
        <td >Yes</td>
      </tr>
    </tbody>
  </table>


</div>
