<div class="container">
  <app-hiring></app-hiring>

  <!-- Section B -->
  <div class="row">
    <div class="col-sm-6">
      <p class="hr-p"> <strong>Interview Status: In Review</strong></p>
      <div class="row">
        <div class="col">
          <i class="fa fa-user-circle fa-5x"  aria-hidden="true"></i>
        </div>
        <div class="col-sm-10">
          <h6 class="m-1"> <strong>Muthamia Michael</strong></h6>
          <p class="hr-user mt-1 text-dark"><i class="fas fa-envelope m-1"></i> <small> <strong>MuthamiaMichael@mymail.com</strong></small></p>
          <p class="hr-user text-dark"><i class="fab fa-linkedin m-1"></i> <small> <strong>Linkedin.com/in/muthamimichael</strong></small></p>
        </div>
      </div>


      <table class="hr-table">
        <tr >
          <td><small><span class="text-bold text-dark" style="font-size: 1.1rem;">Phone Number</span></small></td>
          <td class="hr-td"> <small><b style="line-height: 3.2rem; margin-left: 6rem; font-size: 1.1rem;">254 xxx xxx xxx</b></small></td>
        </tr>
        <tr>
          <td><small><span class="text-bold text-dark" style="font-size: 1.1rem;">Location</span></small></td>
          <td class="hr-td"><small><b style="line-height: 3.2rem; margin-left: 6rem; font-size: 1.1rem;">Nairobi Kenya</b></small> </td>
        </tr>
        <tr>
          <td><small><span class="text-bold text-dark" style="font-size: 1.1rem;">Education Obtained</span></small></td>
          <td class="hr-td "><small><b style="line-height: 3.2rem; margin-left: 6rem; font-size: 1.1rem;">Bachelors Degree</b></small></td>
        </tr>
        <tr>
          <td><small><span class="text-bold text-dark" style="font-size: 1.1rem;">Education Obtained</span></small></td>
          <td class="hr-td"><small><b style="line-height: 3.2rem; margin-left: 6rem; font-size: 1.1rem;">Economics Statistics</b></small></td>
        </tr>
        <tr>
          <td><small><span class="text-bold text-dark" style="font-size: 1.1rem;">Graduation year</span></small></td>
          <td class="hr-td"><small><b style="line-height: 3.2rem; margin-left: 6rem; font-size: 1.1rem;">2021</b></small></td>
        </tr>
        <tr>
          <td><small><span class="text-bold text-dark" style="font-size: 1.1rem;">Desired Pay</span></small></td>
          <td class="hr-td"><small><b style="line-height: 3.2rem; margin-left: 6rem; font-size: 1.1rem;">60, 000.00</b></small></td>
        </tr>
        <tr>
          <td><small><span class="text-bold text-dark" style="font-size: 1.1rem;">Date Aviable</span></small></td>
          <td class="hr-td"><small><b  style="line-height: 3.2rem; margin-left: 6rem; font-size: 1.1rem;">1/12/2021</b></small></td>
        </tr>
      </table>
      
<!-- hdgdffd -->
      <div class="row col-12">
        
          
        <div class="col-sm-4">
          <button class="btn  btn-block" style="border: 1px solid black; color: #004763;"><strong>Schedule Interview </strong></button>
        </div>
        <div class="col-sm-4">
          <button class="btn " style="border: 1px solid black; color: #004763;"><strong>Go Back</strong></button>
        </div>
        <div class="col-sm-4">
          <button class="btn " style="border: 1px solid black; color: #004763;"><strong>Hire Candidate</strong></button>
        </div>
        </div>


      

<!-- hdhsg -->
    </div>
    <div class="col-sm-6">
      
      <div class="row col-12 justify-content-center">
        
        <div class="col-sm-4">
          <button class="btn" style="border: 1px solid black; color: white; background-color: #004763;"> <strong>Resume</strong></button>
        </div>
        <div class="col-sm-4">
          <button class="btn" style="border: 1px solid black; color: #004763;"> <strong>Cover Letter</strong></button>
        </div>
        </div>
    
      <div class="img-cv">
        <img src="https://image.shutterstock.com/image-vector/minimalist-cv-resume-template-simple-260nw-336762527.jpg"
          alt="" style="width: 90%;height: 51vh;">
      </div>
      <div class="row">
          <p class="text-center"><button class="btn  " style="border: 1px solid black; color: white; background-color: #004763;"> <strong>Download</strong></button></p>
        </div>
    </div>
  </div>

</div>
