.btncom {
  border: none;
  color: #004763;
  cursor: pointer;
  text-transform: capitalize;
  border: 1px solid rgb(179, 210, 238);
  background-color: #fff;
  text-align: center;
  margin: 0 2rem;
  border-radius: 2px;
  padding-top: -1rem;
  font-size: 1.2rem;
  
}
.btncom:active {
  background-color: #004763;
  color: white;
}

.back {
  font-weight: bold;
  font-size: 18px;
}
.table,
.table th,
.table tr,
.table td {
  border: none;
  font-size: 20px;
  margin-top: 30px;
}

.net {
  font-weight: bold;
  font-size: 18px;
  color: #004763;
}

.int {
  display: flex;
  justify-content: center;
  align-items: center;
}


.table tr {
  margin: 5rem;
}

.left {
  position: absolute;
  font-size: 18px;
  color: #004763;
  margin-left: 4rem;
  top: 23rem;
  font-weight: bold;
}
.table{
  margin: 0 -5rem;
}