<div class="container">
    <button type="button" class="btn btncom btn-sm btn-default m-2" data-bs-toggle="button" autocomplete="off">Jobs</button>
    <button type="button" class="btn btncom  btn-sm btn-default" data-bs-toggle="button" autocomplete="off" aria-pressed="true">Applications</button>
    <button type="button" class="btn btncom  btn-sm btn-default" data-bs-toggle="button" autocomplete="off" aria-pressed="true">Interviews</button>
    <button type="button" class="btn btncom  btn-sm btn-default" data-bs-toggle="button" autocomplete="off" aria-pressed="true">Hired</button>




<table class="table">
  
      <tr class="net">
          <th>Applications</th>
          <th>Position Applied</th>
          <th>Education Qualification</th>
          <th>Experience</th>
          <th>Offer Letter</th>
      </tr>

  <tbody>
      <tr>
          <td class="back">James Murithi</td>
          <td>Sales Manager</td>
          <td>MBA Bussiness Administration</td>
          <td>9 Years</td>
          <td><button class="btncom">Send Letter</button></td>
      </tr>

      <tr>
        <td class="back">James Murithi</td>
        <td>Sales Manager</td>
        <td>MBA Bussiness Administration</td>
        <td>6 Years</td>
        <td><button class="btncom">Send Letter</button></td>
    </tr>

    <tr>
      <td class="back">James Murithi</td>
      <td>Sales Manager</td>
      <td>MBA Bussiness Administration</td>
      <td>8 Years</td>
      <td class="left">Completed</td>
  </tr>
    
  


  </tbody>
</table>


</div>

