/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  color: #004763;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #004763;
}

.fa,
.fas {
  color: var(--main-color);
}

.main-color {
  color: var(--main-color);
  font-weight: 600;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: var(--main-color);
}

button {
  border-radius: 2px;
  width: 197px;
  height: 37px;
}

.btn-primary,
.btn-primary:hover {
  background-color: #004763;
  color: #fff;
}

/* top navigation */

.navbar-expand-lg {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 14px 14px 14px 14px;
}

.logo span {
  font-size: 1em;
  font-weight: 600;
  color: #004763;
  margin-right: 50px;
}

.search-input {
  border: 1.5px solid var(--main-color);
  margin-right: 120px;
  padding: 1px;
  margin-top: 8px;
  color: #004763;
  width: 260px;
}

.search-input:focus {
  border: 1px solid var(--main-color);
  outline: none;
}

.search-input::placeholder {
  color: #004763;
  font-size: 18px;
}

.date-time {
  margin-top: 5px;
}

.icon {
  font-size: 20px;
  margin: 5px;
}

.current-date {
  font-size: 15px;
  margin-right: 10px;
  font-weight: 900;
}

.user-info {
  margin-left: 35px;
  border-left: 2px solid #ccc;
}
.user-info .fa-user-circle {
  font-size: 1.8em;
  margin: 5px 10px 0px 10px;
}

.user-names {
  font-size: 0.8em;
  font-weight: 900;
  color: #004763;
  margin-top: 10px;
  line-height: 14px;
}

.user-info .fa-chevron-down {
  font-size: 0.8em;
  margin-left: 10px;
  margin-top: 15px;
}

/* sidebar */

.sidebar {
  width: 180px;
  position: fixed;
  left: 0;
  height: 100%;
  background: #f1f1f0;
}
.sidebar-menu ul {
  list-style-type: none;
  margin-top: 2em;
  padding: 0;
  width: 170px;
}

.sidebar-menu li {
  margin: 0.2rem;
  padding-left: 1.3em;
  text-align: left;
  font-size: 15px;
}
.sidebar-menu li a {
  display: block;
  color: var(--main-color);
  text-decoration: none;
  padding: 4px 16px;
}
.sidebar-menu li a:hover,
.active {
  background-color: #db3f7079;
  color: #004763;
}

.copyright {
  margin-top: 10px;
  text-align: center;
  font-size: 0.8em;
  color: #004763;
}
footer {
  margin-top: 160%;
}

/* content */
.content {
  margin: 0px 0px 0px 50px;
  padding: 0.5em;
}

/* ======================== Dashboard ================================== */

.card{
  box-shadow:0 1px 1px #ccc;
  padding: 25px;
}
.small-txt{
  text-align: center;
}
.tableDay{
  margin-bottom:25px ;
  height: 20vh;
  /* font-weight: bold; */

}
.cell{
  margin-left: -50%;
  position: absolute;
}
.card-btn{
  background-color: #004763;
  color: #FFFFFF;
  outline:none;
  border: none;
  border-radius: 2px;
  padding: 1px 23px;

}


/* ======================== Hiring ===================================== */

/* ======================== Leave manager ============================== */

/* ======================== Reports ==================================== */

/* ======================== Staff ====================================== */
.btnhome {
  border: none;
  color: #004763;
  cursor: pointer;
  text-transform: capitalize;
  font-family: Regular, Semibold and Bold;
  border: 2px solid;
  box-shadow: 1px 1px 1px 1px #004763;
  text-align: center;
  margin: 0 2rem;
  border-radius: 2px;
  padding-top: -1rem;
  font-size: 1.3rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
.btn-active {
  background-color: #004763;
  color: white;
}

.head {
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgb(197, 192, 192);
}

.par p {
  font-family: Regular, Semibold and Bold;
  font-size: 1.3rem;
  color: black;
}

.tablestaff {
  font-family: Regular, Semibold and Bold;
  font-size: 1.2rem;
  color: #004763;
}

table,
tr,
td,
th {
  border: none;
}

thead {
  color: white;
}

.btnn {
  border: none;
  color: #004763;
  padding: 12px 16px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 2rem;
  background-color: white;
  text-transform: capitalize;
}

.class {
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 2px 2px #dadfe0;
}

.class p {
  font-family: Regular, Semibold and Bold;
  font-size: 1.5rem;
  color: #004763;
}

.inline ul {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.inline li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
}
.id {
  margin-top: 1.5rem;
}
