<div class="container">
    <button type="button" class="btn btnhomed btn-sm btn-default m-2" data-bs-toggle="button" autocomplete="off">overview</button>
    <button type="button" class="btn btnhomed  btn-sm btn-default" data-bs-toggle="button" autocomplete="off" aria-pressed="true">department</button>
    <button type="button" class="btn  btnhomed btn-sm btn-default" data-bs-toggle="button" autocomplete="off">add staff</button>
<div class="classed">
  
  <p class="pe m-2">Department</p>
<p class="down"><button class="btnnn btn-sm " >Download Staff List</button></p>
<div class="dropdown">
  <button class="btnnn btn-default" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    All<i class="bi bi-chevron-down m-3"></i>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>

<p class="pe m-2">Year</p>
<div class="dropdown">
  <button class="btnnn btn-default" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    1998<i class="bi bi-chevron-down m-3"></i>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>


</div>


<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Email</th>
      <th>Employment Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="john">John Doe</td>
      <td>Software Developer</td>
      <td>chegewairimu@gmail.com</td>
      <td>Fulltime</td>
    </tr>
    <tr>
      <td class="john">John Doe</td>
      <td>Software Developer</td>
      <td>chegewairimu@gmail.com</td>
      <td>Fulltime</td>
    </tr>
    <tr>
      <td class="john">John Doe</td>
      <td>Software Developer</td>
      <td>chegewairimu@gmail.com</td>
      <td>Fulltime</td>
    </tr>
    <tr>
      <td class="john">John Doe</td>
      <td>Software Developer</td>
      <td>chegewairimu@gmail.com</td>
      <td>Fulltime</td>
    </tr>
    <tr>
      <td class="john">John Doe</td>
      <td>Software Developer</td>
      <td>chegewairimu@gmail.com</td>
      <td>Fulltime</td>
    </tr>
    <tr>
      <td class="john">John Doe</td>
      <td>Software Developer</td>
      <td>chegewairimu@gmail.com</td>
      <td>Fulltime</td>
    </tr>

  </tbody>
</table>




</div>