<section class="content">
  <div class="container">
    <!-- body code here -->
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-start button-group">
          <div>
            <a class="btn btn-outline-primary a-button" id="overview" routerLink="/leave-manager">
              Leave Request </a>
          </div>
          <div>
            <a routerLink="/leave-manager/on-leave" class="btn btn-outline-primary btn-current-active a-button" id="department">On
              Leave</a>
          </div>
          <div>
            <a routerLink="/leave-manager/active-staff" class="btn btn-outline-primary a-button" id="addstaff">active staff</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- tables  -->
      <div class="col-md-12 ">
        <table class="table table-borderless table-responsive mt-3">
          <thead class="">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Position</th>
              <th scope="col">Department</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Remaining Days</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let empOnLeaves of empOnLeave">
              <td>{{empOnLeaves.employee}}</td>
              <td>{{empOnLeaves.position}}</td>
              <td>{{empOnLeaves.department}}</td>
              <td>{{empOnLeaves.leave_date_from}}</td>
              <td>{{empOnLeaves.leave_date_to}}</td>
              <td>{{ empOnLeaves.days }} Days</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>


