<div class="content">
  <div class="container">
    <!-- <div class="content">
      <div class="container"> -->

        <div class="row">
          <h4><b>Good Morning, Michael</b></h4>
          <div class="col-sm-7">
            <small></small>
            <p><b>Quick Navigatoin</b></p>
            <div class="card" style="border: none;">
              <div class="input-group mb-3">
                <select class="form-select" id="inputGroupSelect01" style="border: none; outline: none;">
                  <option selected><small>You have pending leave request awaiting your approval</small></option>
                </select>
              </div>
              <div class="container">
                <button class="card-btn">Approve</button>
              </div>

            </div>

          </div>
          <div class="col-sm-5">
            <p class="text-center"><b>Important Days</b></p>
            <div class="card" style="border: none;">
              <table>
                <tr>
                  <td>20th October 2021 <br><small style="font-size: 10px;">Holiday. All day celebrations</small></td>

                  <td class="cell">Mashujaa Day</td>
                </tr>
                <tr>
                  <td>10st October 2021 <br><small style="font-size: 12px;">Holiday. All day celebrations</small></td>
                  <td class="cell">Utamaduni Day</td>
                </tr>
                <tr>
                  <td>1st June 2021 <br><small style="font-size: 12px;">Holiday. All day celebrations</small></td>
                  <td class="cell"> Madaraka Day</td>
                </tr>
                <tr>
                  <td>1st May 2021<br><small style="font-size: 12px;">Holiday. All day celebrations</small></td>
                  <td class="cell"> Labour Day</td>
                </tr>
              </table>

            </div>
          </div>
        </div>
      </div>
    <!-- </div>
  </div> -->
