 <div class="container-fluid mt-2 mb-5 shadow-sm p-3 mb-5 bg-body rounded">
    <div class="row ">
      <div class="col-md-2 m-1">
        <button type="button" routerLink="/hiring/jobs" class="btn btn-outline-secondary h" routerLinkActive="activebuttons">Jobs</button>
      </div>
      <div class="col-md-2 m-1">
        <button type="button" routerLink="/hiring/application/newapplication"class="btn btn-outline-secondary h" routerLinkActive="activebuttons">Applications</button>
      </div>
      <div class="col-md-2 m-1">
        <button type="button" routerLink="/hiring/interview" class="btn btn-outline-secondary h" routerLinkActive="activebuttons">Interviews</button>
      </div>
      <div class="col-md-2 m-1">
        <button type="button" routerLink="/hiring/hired" class="btn btn-outline-secondary h" routerLinkActive="activebuttons">Hired</button>
      </div>
    </div>
</div>

