<div class="container-fluid mb-5">
    <div class="row">
      <div class="col-md-2 m-1">
        <button type="button" routerLink="/hiring/jobs" class="btn btn-outline-secondary h" routerLinkActive="activebuttons">Jobs</button>
      </div>
      <div class="col-md-2 m-1">
        <button type="button" routerLink="/hiring/application/newapplication"class="btn btn-outline-secondary h" routerLinkActive="activebuttons">Applications</button>
      </div>
      <div class="col-md-2 m-1">
        <button type="button" routerLink="/hiring/interviews" class="btn btn-outline-secondary h" routerLinkActive="activebuttons">Interviews</button>
      </div>
      <div class="col-md-2 m-1">
        <button type="button" routerLink="/hiring/hired" class="btn btn-outline-secondary h" routerLinkActive="activebuttons">Hired</button>
      </div>
    </div>
</div>
