<section class="content">
  <div class="container">
    <!-- body code here -->
    <h2>Hiring</h2>

      <div class="container-fluid mb-5">
          <div class="row">
            <div class="col-md-2 m-1">
              <button type="button" routerLink="/hiring" class="btn btn-outline-secondary h" routerLinkActive="activebuttons">Jobs</button>
            </div>
            <div class="col-md-2 m-1">
              <button type="button" class="btn btn-outline-secondary h" routerLinkActive="activebuttons">Aplications</button>
            </div>
            <div class="col-md-2 m-1">
              <button type="button" class="btn btn-outline-secondary h" routerLinkActive="activebuttons">Interviews</button>
            </div>
            <div class="col-md-2 m-1">
              <button type="button" class="btn btn-outline-secondary h" routerLinkActive="activebuttons">Hired</button>
            </div>
          </div>
      </div>

      <div class="container-fluid mt-5 shadow p-3 mb-5 bg-body rounded">
        <div class="row">
          <div class="col-md-2 m-1">
            <button type="button" routerLink="/hiring" class="btn btn-outline-secondary h" routerLinkActive="activebuttons">New listing</button>
          </div>
          <div class="col-md-2 m-1">
            <button type="button" class="btn btn-outline-secondary h" routerLinkActive="activebuttons">Active listing</button>
          </div>
          <div class="col-md-2 m-1">
            <button type="button" class="btn btn-outline-secondary h" routerLinkActive="activebuttons">Past listing</button>
          </div>
        </div>
    </div>

    <div class="container-fluid mt-5">
      <form action="">
          <div class="row">
              <div class="row col-6 pt-4">
                      <div class="mb-4 row">
                          <label for="date" class="col-sm-4 col-form-label">Deadline*</label>
                          <div class="col-sm-8">
                          <input type="date" class="form-control" id="date">
                          </div>
                      </div>
  
                      <div class="mb-4 row">
                          <label for="Job" class="col-sm-4 col-form-label">Job title*</label>
                          <div class="col-sm-8">
                          <input type="text" class="form-control" id="Job">
                          </div>
                      </div>
  
                      <div class="mb-4 row">
                          <label for="Job" class="col-sm-4 col-form-label">Department*</label>
                          <div class="col-sm-8">
                          <input type="text" class="form-control" id="Job">
                          </div>
                      </div>
  
                      <div class="mb-4 row">
                          <label for="Job" class="col-sm-4 col-form-label">Location*</label>
                          <div class="col-sm-8">
                          <input type="text" class="form-control" id="Job">
                          </div>
                      </div>
  
                      <div class="mb-4 row">
                          <label for="Job" class="col-sm-4 col-form-label">Job type*</label>
                          <div class="col-sm-8">
                          <input type="text" class="form-control" id="Job">
                          </div>
                      </div>
  
                      <div class="mb-4 row">
                          <label for="Job" class="col-sm-4 col-form-label">Desired Experience*</label>
                          <div class="col-sm-8">
                          <input type="text" class="form-control" id="Job">
                          </div>
                      </div>
  
  
                      <div class="mb-4 row">
                          <label for="Job" class="col-sm-4 col-form-label">Salary*</label>
                          <div class="col-sm-8">
                          <input type="text" class="form-control" id="Job">
                          </div>
                      </div>
              </div>
  
              <div class="row col-6">
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Description *</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="17"></textarea>
                </div>
  
              </div>
          </div>
          <div class="row">
            <div class="col-sm-4 position-absolute start-50 end-55">
              <button type="button" class="btn btn-secondary btn-sm activebuttons h">Post jobs</button>
            </div>
          </div>
  
      </form>
  
  
  </div>
  
  </div>
</section>
