<div>
    <ul class="navigation" style="list-style-type:none;">
        <li id="list"><h3>Fuzupay</h3></li>
        <li id="list"><input type="text" class="text-center" placeholder="Search"></li>
        <li id="list" ><i class="fas fa-calendar-alt fa-2x"></i> Monday, June 7 2021 | 08:08, Nairobi </li> <span id="list" style="margin-right: -10%; margin-left: -10%;"><i class="fas fa-bell fa-2x"></i></span>
        <Span class="id" style="margin-right: -10%;"> <i class="fas fa-user-circle fa-3x"></i></Span><li class="list2"> <span > Michael Njeru</span>  <br>   <span >Human Resource Account</span> </li>
    </ul>
</div>
