* {
    padding: 0;
    /* margin: 0; */
    box-sizing: border-box;
  }
  
  .nav-bar {
    background: #ffffff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    padding: 0.15rem;
    color: #004763;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    height: 80px;
  
  
  }
  
  .nav-bar ul {
    display: inline-flex;
    list-style: none;
    color: #004763;
  
  }
  
  .nav-bar ul li {
    /* width: 100%; */
    margin: 10px;
    padding: 0px;
  }
  
  /* a {
    text-decoration: none;
    color: #004763;
  } */
  .profile {
    border-left: 1px solid #004763;
    height: 79px;
    right: 0%;
    margin-left:50%;
    top: 60px;
  }
  .profile-name-font-size {
    font-weight: 700;
  }
  #date-details{
    margin-right:-15em;
  }
  
  .date {
    font-weight: 400;
    font-size: 14px;
  
  }
  
  .vertical-bar {
    border-left: 2px solid #004763;
    height: 95px;
    right: 0%;
    margin-left: 10px;
    top: 60px;
  
  }
  
  
  .subprofile-menu {
    display: none;
  
  }
  
  .hover-chevron:hover .subprofile-menu {
    display: block;
    position: absolute;
    background: #ffffff;
    margin-top: 8px;
    margin-left: -297px;
    width: 297px;
    color: #004763;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  
  
  
  
  
  }
  
  .hover-chevron:hover .account-settings {
    display: none;
  }
  
  .hover-chevron:hover .subprofile-menu:hover .account-settings {
    display: block;
    position: absolute;
    background: #ffffff;
    margin-top: 3px;
    padding-top: 55px;
    margin-left: -244px;
    width: 297px;
    /* text-align: center; */
    height: 100px;
    color: #004763;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  
  
  }
  
  .account-settings button {
    width: 130px;
    height: 30px;
    background: #004763;
    color: #ffffff;
    border: none;
  
  
  
  }
  
  button{
    width: 130px;
    border: none;
    height: 30px;
    color: #ffffff;
    background-color: #004763;
  
  }
  
  @media all and (max-width:500px) {
    .nav-bar {
      padding: 0px;
    }
  
  
  }