.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
  .dropdown-menu{
    /* position: relative; */
    left: -14em;
    top: 56px;
    z-index: 2;
    /* min-width: 17rem;   */
  }
  .log{
    transform: rotate(-90deg);
  }
  .log:hover{
    transform: rotate(0deg);
  }
  .hr-btn{
    background-color: #004763;
    border: 1px solid #004763 ;
    border-radius: 2px;
    /* width: 120px; */
    margin: 20px;
    color:#FFFFFF; 

}