<app-header></app-header>
<app-sidebar></app-sidebar>
<section class="content">
  <div class="container">
    <!-- body code here -->
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-start button-group">
          <div>
            <a class="btn btn-outline-primary a-button" id="overview" routerLink="/leave-manager">
              Leave Request </a>
          </div>
          <div>

            <a routerLink="/leave-manager/on-leave" class="btn btn-outline-primary a-button" id="department">On Leave</a>
          </div>
          <div>
            <a routerLink="/leave-manager/active-staff" class="btn btn-outline-primary btn-current-active a-button"
              id="addstaff">active staff</a>
          </div>
        </div>
      </div>
    </div>

    <div class="">
      <div class="row">
        <div class="col-md-9" style="font-size: small;font-weight: bold;">
          <div class="d-flex top-header-table mt-4 mb-2">
                <div class="col-md-5 form-group row">
                  <div class="col-md-1">
                    <i class="fa fa-search m-2"></i>
                  </div>
                    <div class="col-md-5">
                      <label for="" class="col-form-label">Search Staff</label>
                    </div>
                  </div>
                  <div class=" col-md-5 form-group row" style="margin-left: -10%;">
                    <div class="col-md-6">
                      <label for="" class="col-form-label">Employment Type</label>
                    </div>
                    <div class="col-md-4" style="margin-left: -10%;">
                      <select name="employment_type" id="employment_type" class="form-select">
                        <option value="all">All</option>
                        <option *ngFor="let emp of employmentType" value="{{ emp.id }}">{{ emp.name }}</option>
                      </select>
                    </div>
                  </div>
                  <div class=" col-md-4 form-group row">
                    <div class="col-md-4">
                      <label for="" class="col-form-label">Department</label>
                    </div>
                    <div class="col-md-4">
                      <select name="department" id="department" class="form-select">
                        <option value="all">All</option>
                        <option *ngFor="let dep of departments" value="{{ dep.id }}">{{ dep.name }}</option>
                      </select>
                    </div>
                  </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- tables  -->
        <div class="col-md-9 ">
          <table class="table table-borderless table-responsive mt-3">
            <thead class="">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Department</th>
                <th scope="col">Employment Type</th>
              </tr>
            </thead>
            <tbody *ngIf="isLoading">
              <tr class="preloader">
                <td colspan="6" class="text-center mt-5">
                  <app-loader></app-loader>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!isLoading">
              <tr *ngFor="let activeEmps of activeEmp ">
                <td>{{activeEmps.employee.other_names}}</td>
                <td>{{activeEmps.position}}</td>
                <td>{{activeEmps.department?.name}}</td>
                <td>{{activeEmps.employment_type?.name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</section>
