<section class="content">
  <div class="container">
    <!-- body code here -->
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-start button-group">
          <div>
            <a class="btn btn-outline-primary btn-current-active a-button" id="overview" routerLink="/leave-manager">
              Leave Request </a>
          </div>
          <div>
            <a routerLink="/leave-manager/on-leave" class="btn btn-outline-primary a-button" id="department">On
              Leave</a>
          </div>
          <div>
            <a routerLink="/leave-manager/active-staff" class="btn btn-outline-primary a-button" id="addstaff">active
              staff</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-start button-group mt-4">
          <div>
            <button class="btn btn-outline-primary btn-sm" (click)="onSubmitApproveLeaveRequest()">Approve</button>
          </div>
          <div>
            <button class="btn btn-outline-primary btn-sm" (click)="onSubmitRejectLeaveRequest()">Reject</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3 mb-3">
      <div class="col-md-3"></div>
      <div class="col-md-5">
        <div class="alert alert-success" role="alert" *ngIf="successMessage">
          {{successMessage}}
        </div>
        <div *ngIf="errorMessage">
          <div class="alert alert-danger text-capitalize" role="alert">
            {{errorMessage}}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- tables  -->
      <div class="col-md-12 ">
        <table class="table table-borderless table-responsive mt-3">
          <thead class="">
            <tr>
              <th scope="col">
                <div class="check-radio">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                </div>
              </th>
              <th scope="col">Name</th>
              <th scope="col">Position</th>
              <th scope="col">Reason/Leave Type</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Leave Duration</th>
            </tr>
          </thead>
          <tbody *ngIf="isLoading">
            <tr class="preloader">
              <td colspan="6" class="text-center mt-5">
                <app-loader></app-loader>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="!isLoading">
            <tr *ngFor="let item of leavesRequests" class="text-capitalize">
              <th scope="row">
                <div class="check-radio">
                  <input class="form-check-input" type="radio" name="{{item.id}}" id="flexRadioDefault2"
                    (click)="onChecked(item.id)">
                </div>
              </th>
              <td>{{ item.employee }}</td>
              <td>{{ item.positon }}</td>
              <td>{{ item.leave_type }}</td>
              <td>{{ item.leave_date_from }}</td>
              <td>{{ item.leave_date_to }}</td>
              <td>{{ item.days }} Days</td>
            </tr>
            <!-- if empty -->
            <tr *ngIf="leavesRequests.length == 0">
              <td colspan="6" class="text-center mt-5">
                <h5 class="text-danger">No Leave Requests</h5>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</section>
