<section class="content">
  <div class="container">
    <!-- body code here -->
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-start button-group">
          <div>
            <button class="btn btn-outline-primary btn-current-active" (click)="onClick($event)" id="leaveRequest">Leave
              Request</button>
          </div>
          <div>
            <button class="btn btn-outline-primary " (click)="onClick($event)" id="onLeave">On Leave</button>
          </div>
          <div>
            <button class="btn btn-outline-primary " (click)="onClick($event)" id="activeStaff">Active Staff</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-start button-group mt-4">
          <div>
            <button class="btn btn-outline-primary btn-sm">Approve</button>
          </div>
          <div>
            <button class="btn btn-outline-primary btn-sm">Reject</button>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <!-- tables  -->
      <div class="col-md-12 ">
        <table class="table table-borderless table-responsive mt-3">
          <thead class="">
            <tr>
              <th scope="col">
                <div class="check-radio">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                </div>
              </th>
              <th scope="col">Name</th>
              <th scope="col">Position</th>
              <th scope="col">Reason/Leave Type</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Leave Duration</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                <div class="check-radio">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                </div>
              </th>
              <td>James Wanyama</td>
              <td>Software Developer</td>
              <td>Annual Leave</td>
              <td>02/6/2021</td>
              <td>20/6/2021</td>
              <td>18 Days</td>
            </tr>
            <tr>
              <th scope="row">
                <div class="check-radio">
                  <input class="form-check-input" type="radio" name="userRadio" id="flexRadioDefault2" checked>
                </div>
              </th>
              <td>James Wanyama</td>
              <td>Software Developer</td>
              <td>Annual Leave</td>
              <td>02/6/2021</td>
              <td>20/6/2021</td>
              <td>18 Days</td>
            </tr>
            <tr>
              <th scope="row">
                <div class="check-radio">
                  <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault2" checked>
                </div>
              </th>
              <td>James Wanyama</td>
              <td>Software Developer</td>
              <td>Annual Leave</td>
              <td>02/6/2021</td>
              <td>20/6/2021</td>
              <td>18 Days</td>
            </tr>
            <tr>
              <th scope="row">
                <div class="check-radio">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                </div>
              </th>
              <td>James Wanyama</td>
              <td>Software Developer</td>
              <td>Annual Leave</td>
              <td>02/6/2021</td>
              <td>20/6/2021</td>
              <td>18 Days</td>
            </tr>
            <tr>
              <th scope="row">
                <div class="check-radio">
                  <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2" checked>
                </div>
              </th>
              <td>James Wanyama</td>
              <td>Software Developer</td>
              <td>Annual Leave</td>
              <td>02/6/2021</td>
              <td>20/6/2021</td>
              <td>18 Days</td>
            </tr>
            <tr>
              <th scope="row">
                <div class="check-radio">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                </div>
              </th>
              <td>James Wanyama</td>
              <td>Software Developer</td>
              <td>Annual Leave</td>
              <td>02/6/2021</td>
              <td>20/6/2021</td>
              <td>18 Days</td>
            </tr>
            <tr>
              <th scope="row">
                <div class="check-radio">
                  <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault2" checked>
                </div>
              </th>
              <td>James Wanyama</td>
              <td>Software Developer</td>
              <td>Annual Leave</td>
              <td>02/6/2021</td>
              <td>20/6/2021</td>
              <td>18 Days</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</section>
