
<app-applications></app-applications>
<section class="content">
  <div class="container-fluid">
    <table class="table table-hover table-borderless">
      <thead>
        <tr>
          <th scope="col">Applicants Name</th>
          <th scope="col">Position Applied</th>
          <th scope="col">Education Qualifications</th>
          <th scope="col">Experience</th>
          <th scope="col">Status</th>

        </tr>
      </thead>
      <tbody>
        <tr routerLink="/hiring/application/singleapplications" ngFor='let pastApplicant of pastApplicant'>
          <th scope="row">{{pastApplicant.applicant_name}}</th>
          <td>{{pastApplicant.position}}</td>
          <td>{{pastApplicant.education_obtained}}</td>
          <td>{{pastApplicant.experience}}</td>
          <td >{{pastApplicant.status}}</td>
        </tr>

        <!-- <tr>
          <th scope="row">Stephen Odiek</th>
          <td>Software Developer</td>
          <td>Bsc Computer science</td>
          <td>5yrs</td>
          <td class="text-success">Accepted</td>
        </tr>

        <tr>
          <th scope="row">Stephen Odiek</th>
          <td>Software Developer</td>
          <td>Bsc Computer science</td>
          <td>5yrs</td>
          <td class="text-success">Accepted</td>
        </tr>

        <tr>
          <th scope="row">Stephen Odiek</th>
          <td>Software Developer</td>
          <td>Bsc Computer science</td>
          <td>5yrs</td>
          <td class="text-success">Accepted</td>
        </tr>

        <tr>
          <th scope="row">Stephen Odiek</th>
          <td>Software Developer</td>
          <td>Bsc Computer science</td>
          <td>5yrs</td>
          <td class="text-success">Accepted</td>
        </tr>

        <tr>
          <th scope="row">Stephen Odiek</th>
          <td>Software Developer</td>
          <td>Bsc Computer science</td>
          <td>5yrs</td>
          <td class="text-danger">Declined</td>
        </tr>
        <tr>
          <th scope="row">Stephen Odiek</th>
          <td>Software Developer</td>
          <td>Bsc Computer science</td>
          <td>5yrs</td>
          <td class="text-danger">Declined</td>
        </tr> -->

      </tbody>
    </table>


  </div>

</section>
