<app-interviews></app-interviews>
<section class="">
  <div class="container">
    <div class="row">
      <div class="col-sm-">
        <table class="interview-table">
          <tr>
            <th>Apllicant Name</th>
            <th>Position Applied</th>
            <th>Education Qualifications</th>
            <th>Scheduled Date</th>
            <th>Scheduled Time</th>
          </tr>

          <tr>
            <td><small><a routerLink="/hiring/interview/inreview">James Murimi</a></small></td>
            <td><small>Sales Manager</small></td>
            <td><small>MBA Busniess Administration</small></td>
            <td><small>14/12/2021</small></td>
            <td class="tr-time"><small>09:30 AM - 10:30 AM</small></td>
          </tr>
          <tr routerLink="hiring/interview/inreview">
            <td><small>Blessings Mugendi</small></td>
            <td><small>Product Designer</small></td>
            <td><small>BSc Development and Product Design</small></td>
            <td><small>14/12/2021</small></td>
            <td class="tr-time"><small>10:30 AM - 11:30 AM</small></td>
          </tr>
          <tr>
            <td><small>David Martinez</small></td>
            <td><small>Customer Support Specialist</small></td>
            <td><small>Bachelor of Science in Mangement</small></td>
            <td><small>16/12/2021</small></td>
            <td class="tr-time"><small>10:30 AM - 11:30 AM </small></td>
          </tr>
          <tr>
            <td><small>Mercy John</small></td>
            <td><small>Data Analyst</small></td>
            <td><small>BSc Economics Statics</small></td>
            <td><small>17/12/2021</small></td>
            <td class="tr-time"><small>09:30 AM - 10:30 AM</small></td>
          </tr>
          <tr>
            <td><small>Andrew Munene</small></td>
            <td><small>Software Developer</small></td>
            <td><small>BSc Computer Sceince and Mathematics</small></td>
            <td><small>18/12/2021</small></td>
            <td class="tr-time"><small>11:30 AM - 12:30 PM</small></td>
          </tr>
        </table>
      </div>

    </div>
  </div>

</section>
