<section class="content">
    <div class="container">
      <!-- body code here -->
      <!-- <h2>Hiring</h2> -->
        <div class="container-fluid mb-5">
            <div class="row">
              <div class="col-md-2 m-1">
                <button type="button" routerLink="/hiring/jobs" class="btn btn-outline-secondary h" routerLinkActive="activebuttons">Jobs</button>
              </div>
              <div class="col-md-2 m-1">
                <button type="button" class="btn btn-outline-secondary h" routerLinkActive="activebuttons">Aplications</button>
              </div>
              <div class="col-md-2 m-1">
                <button type="button" class="btn btn-outline-secondary h" routerLinkActive="activebuttons">Interviews</button>
              </div>
              <div class="col-md-2 m-1">
                <button type="button" class="btn btn-outline-secondary h" routerLinkActive="activebuttons">Hired</button>
              </div>
            </div>
        </div>
  
        <div class="container-fluid mt-5 shadow p-3 mb-5 bg-body rounded">
          <div class="row">
            <div class="col-md-2 m-1">
              <button type="button" routerLink="/hiring/jobs/newlisting" class="btn btn-outline-secondary h" routerLinkActive="activebuttons">New listing</button>
            </div>
            <div class="col-md-2 m-1">
              <button type="button" routerLink="/hiring/jobs/activelisting"  class="btn btn-outline-secondary h" routerLinkActive="activebuttons">Active listing</button>
            </div>
            <div class="col-md-2 m-1">
              <button type="button" routerLink="/hiring/jobs/pastlisting"  class="btn btn-outline-secondary h" routerLinkActive="activebuttons">Past listing</button>
            </div>
          </div>
      </div>
  
      <router-outlet></router-outlet>
    </div>
  </section>
  