<!-- body code here -->
<!-- <h2>Hiring</h2> -->
<app-hiring></app-hiring>
<!-- <section class="content"> -->
  <div class="container-fluid mt-1 shadow p-3 mb-5 bg-body rounded">
    <div class="row">
      <div class="col-md-2 m-1">
        <button type="button" routerLink="/hiring/jobs/newlisting" class="btn btn-outline-secondary h"
          routerLinkActive="activebuttons">New listing</button>
      </div>
      <div class="col-md-2 m-1">
        <button type="button" routerLink="/hiring/jobs/activelisting" class="btn btn-outline-secondary h"
          routerLinkActive="activebuttons">Active listing</button>
      </div>
      <div class="col-md-2 m-1">
        <button type="button" routerLink="/hiring/jobs/pastlisting" class="btn btn-outline-secondary h"
          routerLinkActive="activebuttons">Past listing</button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
<!-- </section> -->
